node_modules/
dist/
build/
!.env.example
*.log
npm-debug.log*
.DS_Store
.vite/
coverage/
public/_redirects
.gitignore
public/SC-JUL-42 - Website Blog.docx
public/SC-JUL-43 - Website Blog - Best Maths Tutors-Online.docx
public/SC-JUL-44-gcse-maths-tutor.docx
public/SC-JUL-45 - maths-a-level-tutor.docx
public/Skillbridgetutors.com - Schema.docx
public/SC-JUL-46 - maths-tutor.docx
